.user-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    font-family: 'Arial', sans-serif;
}

.user-item {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user-item:nth-child(odd) {
    background: #eee;
}

.user-item { 
    border: 1px solid #eee;
}

.user-email {
    font-weight: bold;
}

.empty-users {
    margin: 10px;
    background: orange;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}  

.user-wrapper h1 {
    margin: 10px;
    text-align: center;
}

.user-wrapper input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 10px;
}
